/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-container {
  background-color: #ffffff !important;
}

.modal-backdrop {
  z-index: 1040 !important;
}

.mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.cdk-overlay-container{
  z-index: 999999999;
}

.mat-select-value-text{
  color: black;
}
